@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.place-list {
  display: grid;
  max-width: 28rem;
  margin: 0 auto;

  @include tablet {
    max-width: $mobile-maxwidth;
  }

  &--home {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 3vw;
    overflow: scroll;
    width: 95vw;
    height: calc(100vh - 4.5rem);
    margin: 1rem auto 1rem auto;
    max-width: none;
    padding-top: 5rem;

    @include tablet {
      width: 44vw;
      height: calc(100vh - 5rem);
      max-width: 35rem;
      padding-top: 5rem;
    }

    @include desktop {
      height: 100vh;
      padding-top: 6rem;
      padding-bottom: 1.5rem;
    }
  }

  &__close {
    justify-self: flex-end;
    background: none;
    border: none;
    margin-right: 0.25rem;
    cursor: pointer;

    &-icon {
      fill: $accent-inactive;
      stroke-width: 0;
      height: 1.25rem;

      &:hover {
        fill: $accent;
      }
    }
  }

  &__error {
    @include label;
    color: $secondary;
    background-color: $text;
    text-align: right;
    width: 13rem;
    height: 1.5rem;
    justify-self: flex-end;
    padding: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: 3px;

    @include tablet {
      width: 14rem;
      height: 1.75rem;
    }

    @include desktop {
      width: 15rem;
    }

    &-link {
      text-decoration: none;
      color: $primary;

      &:hover {
        color: $accent-inactive;
      }
    }
  }
}
