@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.sign-in {
  color: $text;
  height: 100vh;

  &__wrapper {
    @include wrapper;
  }

  &__buttons {
    @include flex(row, flex-start, center);
    max-width: 36rem;
    margin: 0 auto;

    @include desktop {
      max-width: none;
      width: 42rem;
    }
  }

  &__button {
    @include card;
    @include page-subheader;
    color: $accent;
    width: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    border-bottom: 3px solid $accent;

    &--deselect {
      color: $accent-inactive;
      background-color: $secondary-inactive;
      border-bottom: 3px solid $secondary-inactive;
    }
  }
}
