@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.review-card {
  @include card;
  height: 10rem;
  overflow: scroll;
  margin-top: 1rem;

  @include tablet {
    width: 16.75rem;
    height: 11.5rem;
  }

  @include desktop {
    width: 15rem;
    height: 14rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  &__username {
    font-size: 0.875rem;
    font-weight: 600;

    @include desktop {
      font-size: 1rem;
    }
  }

  &__header {
  }

  &__user {
    @extend .review-card__username;
  }

  &__actions {
  }

  &__button {
    &--edit {
    }
    &--delete {
    }
  }

  &__content {
  }

  &__review {
    font-size: 0.8125rem;
    padding-top: 0.5rem;

    @include desktop {
      font-size: 0.875rem;
    }
  }

  &__new {
  }
}
