@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.review-card {
  @include card;
  height: 7.125rem;
  overflow: scroll;
  margin-top: 1rem;
  padding-left: 0.5rem;

  @include tablet {
    width: 16.75rem;
    height: 15rem;
    margin: 0.5rem;
  }

  @include desktop {
    height: 16.125rem;
    margin: 0;
  }

  &--edit {
    height: 15rem;

    @include desktop {
      height: 16.125rem;
    }
  }

  &__username {
    @include subheader;
    padding-bottom: 0.75rem;
    padding-left: 0.2rem;
  }

  &__header {
    @include flex(row, space-between, flex-start);
    height: 1.5rem;
    margin-bottom: 0.25rem;
    padding-left: 0.2rem;

    @include tablet {
      margin-bottom: 0.5rem;
    }
  }

  &__user {
    @include subheader;
  }

  &__actions {
    @include flex(row, space-between, center);
  }

  &__button {
    border: none;
    background: none;

    &--edit {
      padding-right: 0.75rem;
    }
  }

  &__icon {
    height: 1.25rem;
    stroke-width: 0;
    fill: $accent-inactive;
    cursor: pointer;

    &:hover {
      fill: $accent;
    }
  }

  &__review {
    @include card-body;
    padding-top: 0.75rem;
    padding-left: 0.25rem;
  }

  &__new {
    @include button;
    margin-top: 0.75rem;
    margin-left: 0.2rem;

    @include tablet {
      margin-top: 1rem;
    }

    @include desktop {
      margin-top: 1.25rem;
    }
  }
}
