$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$wrapper-maxwidth: 1140px;
$mobile-maxwidth: 343px;

$primary-colour: #594b47;
$primary-background: #dfd6d1;
$highlight-colour: #f6236b;
$secondary-background: #f1ebe9;
$deselect-background: #bbb3b1;

// #e8b4b8;

$map-colour1: #afb9d3;
$primary-alt: #9c655e;
$secondary-highlight: #f9514e;
$tertiary-colour: #7f052e;
