$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$mobile-maxwidth: 672px;
$wrapper-maxwidth: 1140px;

$text: #f7fdf9;
$background: #010402;
$primary: #5d1443;
$secondary: #2e160a;
$secondary-inactive: #594b47;
$accent: #d3319d;
$accent-inactive: #eba2d2;
