$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$mobile-maxwidth: 672px;
$wrapper-maxwidth: 1140px;

$text: #f7fdf9;
$background: #010402;
$primary: #5d1443;
$secondary: #2e160a;
$secondary-inactive: #594b47;
$accent: #d3319d;
$accent-inactive: #eba2d2;

// $light-text: #020804;
// $light-background: #fbfefc;
// $light-primary: #eba2d2;
// $light-secondary: #f5ddd1;
// $lgiht-accent: #ce2c98;

// $primary-colour: #594b47;
// $primary-background: #dfd6d1;
// $highlight-colour: #f6236b;
// $secondary-background: #f1ebe9;
// $deselect-background: #bbb3b1;
// $map-colour1: #afb9d3;
// $primary-alt: #9c655e;
// $secondary-highlight: #f9514e;
// $tertiary-colour: #7f052e;
