@use "./partials/resets";
@use "./partials/typography";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

main {
  height: calc(100vh - 4.5rem);
  overflow: scroll;
  padding: 4.5rem 1rem 1rem 1rem;

  @include tablet {
    height: calc(100vh - 5rem);
    padding: 5rem 3rem 2rem 3rem;
  }

  @include desktop {
    height: 100vh;
    padding-top: 6.75rem;
    padding-bottom: 2rem;
  }
}

body {
  background-color: $background;
}

.active {
  path {
    fill: $accent;
  }
  border-top: 4px solid $accent;

  @include tablet {
    border-top: 5px solid $accent;
  }

  @include desktop {
    border: none;
  }
}
