@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.place-card {
  @include card;
  display: grid;
  grid-template-columns: 60% 10% 15% 15%;
  align-items: center;
  margin-bottom: 1.5rem;

  @include tablet {
    grid-template-columns: 55% 5% 20% 20%;
    padding: 1.25rem;
  }

  @include desktop {
    grid-template-columns: 65% 5% 15% 15%;
  }

  &__name {
    @include page-subheader;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    text-decoration: none;
    color: $accent-inactive;

    &:hover {
      color: $accent;
    }
  }

  &__address {
    @include main-body;
    padding-top: 0.25rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;

    @include tablet {
      padding-top: 0.75rem;
    }
  }

  &__action {
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: flex-end;
    height: 3rem;

    @include tablet {
      height: 3.5rem;
    }

    @include desktop {
      height: 4rem;
    }

    &--marker {
      grid-column: 3;
    }

    &--bookmark {
      grid-column: 4;
    }
  }
}
