@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include header-footer;
  padding: 0.75rem;

  @include tablet {
    padding: 1rem;
  }

  &__nav {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60%;
    align-items: center;

    @include tablet {
      grid-template-columns: 85%;
      max-width: $wrapper-maxwidth;
      padding: 0 2rem;
      margin: 0 auto;
    }

    @include desktop {
      grid-template-columns: 70% 10% 10% 10%;
      padding: 0;
    }
  }

  &__logo {
    display: grid;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    text-decoration: none;
    align-items: center;

    @include tablet {
      grid-column: 1;
      grid-row-end: 2;
      justify-self: flex-start;
    }

    &-icon {
      grid-column: 1;
      justify-self: flex-end;
      height: 2.75rem;
      fill: $accent;
      padding-right: 0.3rem;

      @include tablet {
        height: 3rem;
      }

      @include desktop {
        height: 4rem;
        padding-right: 0.4rem;
      }
    }
  }

  &__title {
    @include header-title;
    grid-column: 2;
    justify-self: flex-start;
  }

  &__list {
    background: none;
    border: none;
    grid-column: 3;
    grid-row: 2;
    justify-self: flex-end;
    padding-top: 0.5rem;
    cursor: pointer;

    @include tablet {
      grid-column: 2;
      grid-row: 1;
      padding-top: 0.25rem;
    }

    &-icon {
      height: 1.75rem;
      fill: $accent-inactive;
      stroke-width: 0;

      &:hover {
        fill: $primary;
      }

      @include tablet {
        height: 2.25rem;
      }

      @include desktop {
        height: 3rem;
      }
    }
  }

  &__profile {
    display: none;

    @include desktop {
      display: grid;
      grid-column: 3;
    }

    &-icon {
      @include desktop {
        justify-self: flex-end;
        height: 2.6rem;
        stroke-width: 0;
        fill: $accent-inactive;

        &:hover {
          fill: $primary;
        }
      }
    }
  }

  &__logout {
    @include text-button;
    font-size: 0.625rem;
    color: $accent-inactive;
    grid-column: 3;
    grid-row: 1;
    justify-self: flex-end;
    align-self: flex-start;

    @include tablet {
      justify-self: flex-start;
      align-self: center;
      font-size: 0.875rem;
      padding-left: 0.75rem;
    }

    @include desktop {
      grid-column: 4;
      font-size: 1.167rem;
      justify-self: flex-end;
    }
  }

  &__login {
    @extend .header__logout;
    text-decoration: none;
  }
}
