@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include header-footer;

  &__wrapper {
    @include flex(row, center, center);
    width: 100%;

    @include tablet {
      justify-content: flex-start;
    }

    @include desktop {
      max-width: $wrapper-maxwidth;
      margin: 0 auto;
    }
  }

  &__link {
    @include flex(row, flex-start, center);
    text-decoration: none;
  }

  &__logo {
    height: 3rem;
    padding-right: 0.3rem;

    @include desktop {
      height: 4rem;
      padding-right: 0.4rem;
    }
  }

  &__title {
    color: $highlight-colour;
    font-weight: 500;
    font-style: italic;

    @include desktop {
      font-size: 2rem;
    }
  }
}
