@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include header-footer;

  &__nav {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;

    @include tablet {
      grid-template-columns: 80% 20%;
      max-width: $wrapper-maxwidth;
      padding: 0 2rem;
      margin: 0 auto;
    }

    @include desktop {
      grid-template-columns: 80% 10% 10%;
      padding: 0;
    }
  }

  &__logo {
    &-link {
      display: grid;
      grid-column: 2;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      @include tablet {
        grid-column: 1;
        justify-self: flex-start;
      }
    }

    &-icon {
      height: 3rem;
      grid-column: 1;
      padding-right: 0.3rem;

      @include desktop {
        height: 4rem;
        padding-right: 0.4rem;
      }
    }
  }

  &__title {
    grid-column: 2;
    color: $highlight-colour;
    font-weight: 500;
    font-style: italic;

    @include desktop {
      font-size: 2rem;
    }
  }

  &__list {
    &-button {
      background: none;
      border: none;
      justify-self: flex-end;
      grid-column: 3;

      @include tablet {
        grid-column: 2;
      }

      &--hide {
        display: none;
      }
    }

    &-icon {
      height: 2.8rem;
    }
  }

  &__profile {
    &-link {
      display: none;

      @include desktop {
        display: flex;
        grid-column: 3;
        justify-self: flex-end;
      }

      &--hide {
        display: none;
      }
    }

    &-icon {
      height: 2.8rem;
    }
  }
}
