@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.loading {
  &__wrapper {
    @include wrapper;
    display: grid;
    grid-template-rows: repeat(20, 5%);
    height: 100%;
    text-align: center;
    justify-items: center;
  }

  &__title {
    @include page-header;
    grid-row: 3;
  }

  &__content {
    @include main-body;

    &--brewing {
      grid-row: 6;
    }

    &--caffeine {
      grid-row: 8;
    }
  }

  &__loader {
    grid-row: 11;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(3, 30px);
    justify-items: center;
  }
}
