@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  @include header-footer;

  @include desktop {
    display: none;
  }

  &--hide {
    display: none;
  }

  &__nav {
    @include flex(row, space-between, center);
    width: 60%;
    margin: 0 auto;
  }

  &__marker {
    height: 3rem;
  }

  &__profile {
    height: 3rem;
  }
}
