@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.coffeeshop {
  &__wrapper {
    @include wrapper;
  }

  &__title {
    @include page-header;
  }

  &__address {
    @include page-subheader;
    padding-top: 0.25rem;

    @include tablet {
      padding-top: 0.5rem;
    }
  }

  &__details {
    @include desktop {
      display: grid;
      align-items: center;
      margin: 1.25rem 0;
    }
  }

  &__description {
    @include main-body;
    padding-top: 0.25rem;

    @include tablet {
      padding-top: 0.5rem;
    }

    @include desktop {
      width: 25rem;
      grid-column: 1;
      padding-top: 0;
    }
  }

  &__about {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 50% 50%;
    grid-column: 2;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    @include tablet {
      max-width: 52.9rem;
    }

    @include desktop {
      margin-top: 0;
    }
  }

  &__rating {
    grid-column: 1;
    grid-row: 1;
    height: 1.5rem;

    @include desktop {
      height: 1.75rem;
    }
  }

  &__visits {
    @include main-body;
    font-style: italic;
    grid-column: 1;
    grid-row: 2;
    padding-top: 0.75rem;

    &--highlight {
      color: $accent;
    }
  }

  &__actions {
    display: grid;
    justify-content: space-between;
    width: 7.5rem;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;

    @include tablet {
      width: 8rem;
    }

    @include desktop {
      width: 9rem;
    }
  }

  &__error {
    @include label;
    text-align: center;

    &-link {
      text-decoration: none;
      color: $primary;

      &:hover {
        color: $accent-inactive;
      }
    }
  }

  &__marker {
    grid-column: 1;
    height: 3.25rem;

    @include tablet {
      height: 3.5rem;
    }

    @include desktop {
      height: 4rem;
    }
  }

  &__bookmark {
    grid-column: 2;
    height: 3.25rem;

    @include tablet {
      height: 3.5rem;
    }

    @include desktop {
      height: 4rem;
    }
  }

  &__reviews {
    @include flex(row, flex-start, center);
    @include text-button;
    margin-top: 1rem;

    @include desktop {
      margin-top: 0;
    }

    &-list {
      @include tablet {
        @include flex(row, flex-start, center);
        flex-wrap: wrap;
        padding-top: 0.5rem;
      }

      @include desktop {
        justify-content: space-between;
        padding: 1.25rem 0;
      }
    }
  }

  &__chevron {
    fill: $text;
    stroke-width: 0;
    height: 1rem;
    padding-left: 0.25rem;

    &:hover {
      fill: $primary;
    }

    @include desktop {
      height: 1.125rem;
      padding-left: 0.5rem;
    }
  }
}
