@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.coffeeshop {
  color: $text;

  &__wrapper {
    @include wrapper;
  }

  &__title {
    @include page-header;
  }

  &__address {
    @include page-subheader;
    padding-top: 0.25rem;

    @include tablet {
      padding-top: 0.5rem;
    }
  }

  &__details {
    @include desktop {
      @include flex(row, flex-start, flex-start);
      padding-bottom: 1rem;
    }
  }

  &__description {
    @include main-body;
    padding-top: 0.25rem;

    @include tablet {
      padding-top: 0.5rem;
    }

    @include desktop {
      width: 25rem;
      padding-right: 3rem;
    }
  }

  &__about {
    display: grid;
    grid-template-columns: 60% 10% 10% 10% 10%;
    grid-template-rows: 50% 50%;
    align-items: center;
    margin-top: 1rem;
  }

  &__rating {
    grid-column: 1;
    grid-row: 1;
    height: 1.5rem;
  }

  &__visits {
    @include main-body;
    font-style: italic;
    grid-column: 1;
    grid-row: 2;
    padding-top: 0.75rem;

    &--highlight {
      color: $accent;
    }
  }

  &__actions {
    @include flex(row, space-between, center);
  }

  &__error {
    @include label;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

    &-link {
      text-decoration: none;
      color: $accent;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__marker {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 3.25rem;
  }

  &__bookmark {
    grid-column: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 3.25rem;
  }

  &__reviews {
    @include flex(row, flex-start, center);
    @include text-button;
    margin-top: 1rem;

    @include desktop {
      margin-top: 0;
    }

    &-list {
      @include tablet {
        @include flex(row, space-between, center);
        flex-wrap: wrap;
        width: 35rem;
      }

      @include desktop {
        justify-content: flex-start;
        width: 51rem;
      }
    }
  }

  &__chevron {
    fill: $text;
    stroke-width: 0;
    height: 1rem;
    padding-left: 0.25rem;

    &:hover {
      fill: $accent;
    }

    @include desktop {
      height: 1.125rem;
      padding-left: 0.5rem;
    }
  }
}
